body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/** Navigation **/

/* Add a black background color to the top navigation */
.topnav {
  position: relative;
  overflow: hidden;
  background-color: #f9f9f9;
  text-align: center;
  height: 50px;
  padding-top: 8px;
}

.topnav a {
  float: none;
  color: #000;
  text-align: center;
  padding: 18px 45px;
  text-decoration: none;
  font-size: 15px;
}

.topnav a:hover {
  color: #207561;
}

.topnav a.active {
  color: #207561;
  font-weight: 600;
  font-size: 21px;
}


/* Responsive navigation menu (for mobile devices) */
@media screen and (max-width: 600px) {
  .topnav a, .topnav-right {
    float: none;
    display: block;
  }
  
  .topnav-centered a {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
  }
}


/** Navigation Ends **/

/** image animation **/

.mic-image {
  position: relative;
  animation: micImageAnimation 250ms 1;
  animation-direction: normal;
}

@keyframes micImageAnimation {
  0%   {left: 800px; top: -100px;}
  25%  {left: 650px; top: -75px;}
  50%  {left: 500px; top: -50px;}
  75%  {left: 350px; top: -25px;}
  100% {left: 200px; top: 0px;}
}

/** image animation ends **/

.collage-image {
  max-width: 100%;
}

.self-intro-div {
  display: flex;
  background-color: #dcdcdc;
  padding-top: 40px;
}

.animated-text {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.animated-words {
  display: inline-block;
}

.break {
  flex-basis: 100%;
  height: 0;
  width: 0;
}

.hello-text {
  color: #2d2d2d;
}

.changing-text {
  color: #2d2d2d;
}

.main-div-title {
  text-align: center;
  font-size: 28px;
  font-weight: 800;
  padding-bottom: 30px;
}

.what-i-do-div {
  padding-top: 30px;
  padding-bottom: 60px;
}

.what-i-do-main-div {
  padding-left: 0px;
}

@media (min-width: 768px) {
  .what-i-do-box {
    padding-top: 20px;
  }

  .what-i-do-box-title {
    display: block;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
  }

  .what-i-do-box-text {
    display: block;
    text-align: justify;
    font-size: 13px;
  }
}

@media (max-width: 768px) {
  .what-i-do-box {
    padding-top: 20px;
  }

  .what-i-do-box-title {
    display: block;
    font-weight: 800;
    text-align: center;
    padding-bottom: 10px;
  }

  .what-i-do-box-text {
    display: block;
    text-align: justify;
    font-size: 13px;
    padding: 0px 20px 0px 20px;
  }
}

.social-icon-div {
  text-align: center;
}

.social-media-icon {
  width: 30px;
}

.get-in-touch-div {
  padding-bottom: 60px;
}


@media (min-width: 768px) {
  .linkedin-blogs {
    padding-top: 35px;
  }

  .blogs-main-div {
    padding-bottom: 50px;
  }

  .blog-title {
    font-size: 16px;
    font-weight: 600;
    color: #000;
    padding-left: 0px;
    padding-right: 0px;
  }

}

@media (max-width: 768px) {
  .linkedin-blogs {
    padding-top: 35px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .medium-blogs {
    padding-left: 20px;
    padding-right: 20px;
  }

  .blogs-main-div {
    padding-bottom: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .blog-title {
    font-size: 13px;
    font-weight: 600;
    color: #000;
    padding-left: 0px;
    padding-right: 0px;
  }
}

.blog-text {
  padding-right: 0px;
}

.blogs-main-div {
  padding-bottom: 50px;
}

.things-i-write-div {
  padding-bottom: 60px;
}

.blog-show-div {
  border: 1px solid #a7a7a7;
  padding-left: 0px;
  margin-top: 20px;
}

.blog-img-div {
  padding-left: 0px;
  padding-right: 0px;
}

.blog-img {
  width: 100%;
  height: 110px;
}

.blog-desc {
  font-size: 10px;
  color: #000;
  padding-left: 0px;
  padding-right: 0px;
}

.blog-footer-read-more {
  text-align: right;
  padding-top: 10px;
}

.blog-footer-read-more a {
  color: #000;
}

@media (min-width: 768px) {
  .blog-area-width {
      width: 37%;
  }
}

.copyright-div {
  margin-bottom: 20px;
}

.footer-text {
  text-align: center;
  font-size: 10px;
}

